@import url('https://fonts.googleapis.com/css2?family=Cuprum&family=Roboto&family=Russo+One&display=swap');

:root{
    --back-lvl-0: red;
    --back-lvl-1: yellow;
    --back-lvl-2: green;
    --back-lvl-3: blue;
    --back-lvl-4: cyan;
    --back-lvl-5: purple;

    --border-lvl-1: 1px solid black;
    --border-lvl-2: 2px solid grey;
    --border-lvl-3: 3px solid white;
    --border-lvl-4: 4px solid orange;
    --border-lvl-5: 5px solid magenta;

    --primary-color: #615dfa;
    --secondary-color: #eee;
    --tretiary-color: #23d2e2;
    --tretiary-color-hover: #1bc5d4;
    
    --item-back-color: #fff;
    
    --link-hover-color: #1bc5d4;
    
    
    /*Fonts variables*/
    --heading-font-family: 'Russo One', sans-serif;
    --description-font-family: 'Cuprum', sans-serif;
    --text-font-color: #8F91AC;
    --headings-font-color: #3e3f5e;
    
    
    --item-box-shadow-color: #d0d0d0;
    --header-box-shadow-color: #606060;
    
}

html {
    scroll-behavior: smooth;
}

a.anchor{
    position: relative;
    top: -75px;
}

* {
    transition: all 0.2s ease-out;
}

body {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
/*Header, containing panel*/
header{ 
    /*Vars*/    
    --logo-width: 60px;
    --logo-height: 60px;
    
    --font-color: #FFFFFF;    
    --font-family: 'Roboto', sans-serif;

    flex-grow: 1;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    
    position: fixed;
    width: 100%;
    
    box-shadow: 0 0 10px var(--header-box-shadow-color);
    
    color: var(--font-color);    
    font-family: var(--font-family);
    
    /*Container for logo and name of website*/
    .panel-logo-name-container{
        display: flex;
        justify-content: flex-start;
        align-items: center;

        /*Panel logo of website*/
        .panel-logo{
            width: var(--logo-width);
            height: var(--logo-height);
            border-radius: 50%;
            margin: 5px;
        }

        /*Name of website*/
        .panel-name{
            text-transform: uppercase;
            font-size: 16px;
            margin: 10px;
            font-weight: 600;
            max-width: 100px;
            font-family: var(--heading-font-family);
            letter-spacing: 2px;
        }
    }

    .panel-navigation-container{
        display: flex;

        .navigation-button{
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            height: 100%;
            width: 100px;
            font-family: var(--font-family);
            color: var(--font-color);
            font-weight: 600;
            font-size: 14px;
            border: 0;
        }
        
        .navigation-button:hover{
            color: var(--link-hover-color);
        }
        
        .extra{
            background: var(--link-hover-color);
            border-radius: 10px;
            height: 60%;
            align-self: center;
            margin-right: 30px;
        }
        .extra:hover{
            color: var(--font-color);
            background-color: var(--tretiary-color);
            align-self: center;
            margin-right: 30px;
        }
    }
}

.landing-section {    
    display: flex;
    flex-direction: column;    
    align-items: center;    
    padding: 20px 0 20px 0;    
    
    .heading{
        margin: 0;
        padding: 0;
        font-size: 60px;
        text-transform: uppercase;
        text-align: center;
        font-family: var(--heading-font-family);
        letter-spacing: 3px;
        color: var(--headings-font-color);
    }
    
    .description{
        margin: 0;
        padding: 0;
        font-size: 25px;
        font-family: var(--description-font-family);
        color: var(--text-font-color);
        font-weight: 200;
        text-align: center;
    }
    
    ::-webkit-scrollbar{
        /*width: 0;
        height: 20px;*/
    }
    
    .items-division-container{
        display: flex;
        flex-direction: column;
        overflow: auto;
        width: 100%;
        
        .items-container-heading{
            align-self: center;
            
            font-size: 24px;
            
            font-family: var(--description-font-family);

            color: var(--headings-font-color);
        }
    }
    
    .items-container{
        display: flex;        
        width: 100%;
        /*Change to auto when buttons are added*/
        overflow: scroll;
        justify-content: flex-start;
        align-items: flex-start;
        
        .item{
            background-color: var(--item-back-color);            
            border-radius: 10px;            
            margin: 20px 10px;            
            display: flex;
            flex-direction: column;            
            justify-content: flex-start;
            align-items: center;            
            height: 400px;
            max-height: 400px;            
            box-shadow: 0 0 10px 0 var(--item-box-shadow-color);
            
            .item-image{
                width: 200px;
                margin: 25px 25px 10px 25px;
                border-radius: 10px;
            }
            
            .item-name{
                width: 250px;                
                margin: 0 0 10px 0;                
                font-family: var(--heading-font-family);
                font-size: 24px;
                text-align: center;                
                color: var(--headings-font-color);
            }
            
            .item-description{
                margin: 0 0 10px 0;
                padding: 0;
                width: 210px;
                font-family: var(--description-font-family);
                text-align: center;
                color: var(--text-font-color);
            }
        }
    }
}

.welcome{
    display: flex;
    background-image: url("landing_bg.jpg");
    background-size: cover;
    color: white;    
    height: 96vh;
    justify-content: center;
    align-items: center;    
    
    .welcome-heading-text{        
        flex-grow: 1;        
        display: flex;
        flex-direction: column;        
        justify-content: center;
        align-items: center;
        
        .welcome-heading{
            margin: 0;
            padding: 0;
            font-size: 80px;
            text-transform: uppercase;
            font-family: var(--heading-font-family);
            letter-spacing: 3px;
        }
        .welcome-text{
            margin: 0;
            padding: 0;
            font-family: var(--description-font-family);
            font-size: 24px;
        }
    }    
}

.contacts{
    --contact-item-size: 200px;
    --contact-item-border-radius: 10px;
    
    .contacts-container{
        display: flex;        
        justify-content: center;
        border-radius: var(--contact-item-border-radius);
        box-shadow: 0 0 10px 0 black;
        margin: 30px;
        
        .contacts-item{
            background-color: darkseagreen;
            border-radius: 20px;            
            padding: 0;
            margin: 0;
            width: var(--contact-item-size);
            height: calc(var(--contact-item-size) * 2);            
            text-align: center;            
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            
            .contacts-image{
                width: var(--contact-item-size);
                height: var(--contact-item-size);
            }
            
            .contacts-item-name-link-container{
                width: var(--contact-item-size);
                height: var(--contact-item-size);
                
                .contacts-item-name{
                    font-size: 20px;
                    font-family: var(--heading-font-family);
                    color: #FFF;
                    letter-spacing: 1px;
                }
                
                .contacts-item-link{
                    content: 'Написать';
                    padding: 20px;
                    border-radius: 10px;
                    background-color: var(--tretiary-color);
                    color: #FFF;
                    font-family: var(--description-font-family);
                    text-decoration: none;                    
                }                
            }
        }

        #contact-item-telegram{
            width: var(--contact-item-size);
            height: calc(var(--contact-item-size));
            
            .contacts-image{
                width: var(--contact-item-size);
                height: var(--contact-item-size);
                border-radius: 0 0 var(--contact-item-border-radius) 0;
            }            

            .contacts-item-name-link-container{
                opacity: 0;
                background-color: #009AD8;
                position: absolute;
                width: var(--contact-item-size);
                height: var(--contact-item-size);
                border-radius: 0 0 var(--contact-item-border-radius) 0;                
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;                
            }
            
            .contacts-item-name-link-container:hover{
                opacity: 1;
            }            
        }

        #contact-item-vk{
            width: var(--contact-item-size);
            height: calc(var(--contact-item-size));
            
            .contacts-image{
                width: var(--contact-item-size);
                height: var(--contact-item-size);
                border-radius: var(--contact-item-border-radius) 0 0 0;
            }

            .contacts-item-name-link-container{
                opacity: 0;
                background-color: #0076FD;
                position: absolute;
                width: var(--contact-item-size);
                height: var(--contact-item-size);
                border-radius: var(--contact-item-border-radius) 0 0 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .contacts-item-name-link-container:hover{
                opacity: 1;
            }
        }

        #contact-item-viber{
            width: var(--contact-item-size);
            height: calc(var(--contact-item-size));

            .contacts-image{
                width: var(--contact-item-size);
                height: var(--contact-item-size);
                border-radius: 0 var(--contact-item-border-radius) 0 0;
            }

            .contacts-item-name-link-container{
                opacity: 0;
                background-color: #8e3ab2;
                position: absolute;
                width: var(--contact-item-size);
                height: var(--contact-item-size);
                border-radius: 0 var(--contact-item-border-radius) 0 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .contacts-item-name-link-container:hover{
                opacity: 1;
            }
        }

        #contact-item-whatsapp{
            width: var(--contact-item-size);
            height: calc(var(--contact-item-size));

            .contacts-image{
                width: var(--contact-item-size);
                height: var(--contact-item-size);
                border-radius: 0 0 0 var(--contact-item-border-radius);
            }

            .contacts-item-name-link-container{
                opacity: 0;
                background-color: #009a00;
                position: absolute;
                width: var(--contact-item-size);
                height: var(--contact-item-size);
                border-radius: 0 0 0 var(--contact-item-border-radius);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .contacts-item-name-link-container:hover{
                opacity: 1;
            }
        }
    }
}
