@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@700&family=Raleway&display=swap');

/*Here are stored common variables for styles*/
:root{
    --primary-color: #615dfa;
    --secondary-color: #eee;
    --tretiary-color: #23d2e2;
    --tretiary-color-hover: #1bc5d4;

    --arrow-buttons-background-color: #f2f2f2;

    --item-back-color: #fff;

    --link-hover-color: #1bc5d4;


    /*Fonts variables*/
    --heading-font-family: 'Alumni Sans', sans-serif;
    --description-font-family: 'Raleway', sans-serif;
    --text-font-color: #8F91AC;
    --headings-font-color: #3e3f5e;


    --item-box-shadow-color: #d0d0d0;
    --header-box-shadow-color: #606060;

}
/*Only to make scroll smooth*/
html {
    scroll-behavior: smooth;
}
/*Positioning for anchors for navigation*/
a.anchor{
    position: relative;
    top: -75px;
}
/*To make transitions smooth*/
* {
    transition: all 0.2s ease-out;
}

body {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
/*Header, containing panel*/
header{
    /*Vars*/
    --logo-width: 80px;
    --logo-height: 80px;

    --font-color: #FFFFFF;
    --font-family: 'Alumni Sans', sans-serif;

    flex-grow: 1;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;

    position: fixed;
    width: 100%;

    z-index: 99;
    
    top: 0;

    box-shadow: 0 0 10px var(--header-box-shadow-color);

    color: var(--font-color);
    font-family: var(--font-family);

    /*Container for logo and name of website*/
    .panel-logo-name-container{
        display: flex;
        justify-content: flex-start;
        align-items: center;

        /*Panel logo of website*/
        .panel-logo{
            width: var(--logo-width);
            height: var(--logo-height);
            border-radius: 50%;
            margin: 5px;
        }

        /*Name of website*/
        .panel-name{
            text-transform: uppercase;
            font-size: 24px;
            margin: 10px;
            font-weight: 600;
            max-width: 180px;
            font-family: var(--heading-font-family);
            letter-spacing: 2px;
        }
    }

    .panel-navigation-container{
        display: flex;

        .navigation-button{
            display: none;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            height: 100%;
            width: 100px;
            font-family: var(--font-family);
            color: var(--font-color);
            font-weight: 600;
            font-size: 18px;
            border: 0;
        }

        .navigation-button:hover{
            color: var(--link-hover-color);
        }

        .extra{
            display: flex;
            background: var(--link-hover-color);
            border-radius: 10px;
            height: 60%;
            align-self: center;
            margin-right: 30px;
            text-align: center;
            font-size: 20px;
        }
        .extra:hover{
            color: var(--font-color);
            background-color: var(--tretiary-color);
            align-self: center;
            margin-right: 30px;
        }
    }
}
/*Headings for sections*/
.heading{
    
    .heading-container{
        background: linear-gradient(-135deg, var(--primary-color), var(--tretiary-color));
        border-radius: 15px;
        display: flex;
        position: absolute;
        top: 130px;
        left: 2%;
                
        align-items: center;
        justify-content: space-between;
        
        width: 96%;
        .heading-name-icon{
            display: flex;
            align-items: center;
            
            .heading-name{
                color: var(--secondary-color);
                font-family: var(--heading-font-family);
                margin: 0 20px;
                letter-spacing: 2px;
            }

            & img{
                width: 80px;
                margin: 20px;
            }
        }
        
        .back-button{
            margin: 20px;
            
            border-radius: 10px;
            border: 0;            
            height: 40px;
            width: 100px;
            color: var(--secondary-color);
            background-color: var(--link-hover-color);
            font-family: var(--heading-font-family);
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 1px;
            cursor: pointer;
            
        }
        
        .back-button:hover{
            background-color: var(--tretiary-color);
            color: #FFFFFF;
        }
    }
}
/*Containers for main sections*/
.container{
    display: flex;

    flex-wrap: wrap;
    position: absolute;
    top: 250px;
    left: 2%;
    width: 96%;
    
    justify-content: center;
    
    .element{
        display: flex;
        flex-direction: column;
        margin: 20px;
        padding: 20px;
        background: var(--item-back-color);
        border-radius: 10px;
        
        align-items: center;

        text-align: center;
        font-family: var(--heading-font-family);
        color: var(--headings-font-color);
        font-size: 24px;
        
        border: none;

        transform-style: preserve-3d;
        transform: perspective(1000px);
        
        box-shadow: var(--item-box-shadow-color) 0 0 10px 5px;
        
        cursor: pointer;
        
        & img {
            width: 200px;
            margin: 0 0 20px 0;
            border-radius: 10px;
            transform: translateZ(40px);
        }
    }
}

.subsections-container{
    display: flex;

    flex-wrap: wrap;
    position: absolute;
    top: 250px;
    left: 2%;
    width: 96%;

    justify-content: center;

    .element{
        display: flex;
        flex-direction: column;
        margin: 20px;
        padding: 20px;
        background: var(--item-back-color);
        border-radius: 10px;
        max-width: 240px;
        align-items: center;

        text-align: center;
        font-family: var(--heading-font-family);
        color: var(--headings-font-color);
        font-size: 24px;

        border: none;

        transform-style: preserve-3d;
        transform: perspective(1000px);

        box-shadow: var(--item-box-shadow-color) 0 0 10px 5px;
        
        cursor: pointer;

        & img {
            width: 200px;
            margin: 0 0 20px 0;
            border-radius: 10px;
            transform: translateZ(40px);
        }
    }
}

/*Subdivision containers*/
.sub-div-container{
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    
    width: 100%;
    
    .sub{
        margin: 10px;
        
        .sub-name{
            /*Background settings*/
            background: linear-gradient(-135deg, var(--primary-color), var(--tretiary-color));
            height: 60px;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            /*Font settings*/
            color: var(--secondary-color);
            text-align: center;
            font-family: var(--heading-font-family);
            font-size: 24px;
        }
        ::-webkit-scrollbar{
            width: 0;
            height: 0;
        }
        /*Container for all items in subsection*/
        .sub-items-container{
            display: flex;
            
            .sub-item-video{
                justify-self: center;
                margin: 10px;
                width: 100%;
                display: flex;
                justify-content: center;                
                
                & iframe{
                    border-radius: 10px;
                    width: 560px;
                    height: 315px;
                    border: 0;
                }
            }
            
            .article, .image{
                cursor: pointer;
            }
            
            .sub-item{
                background-color: var(--item-back-color);
                border-radius: 10px;
                box-shadow: 0 0 10px var(--item-box-shadow-color);
                margin: 10px;
                display: flex;
                flex-direction: column;
                min-width: 300px;
                max-width: 400px;
                justify-content: flex-start;
                
                .image-container{
                    display: flex;
                    align-items: center;
                    width: auto;
                    height: 300px;

                    border-radius: 10px;
                    margin: 10px;
                    
                    overflow: hidden;

                    & img{
                        border-radius: 10px;                        
                        width: 100%;
                    }
                }               
                
                .sub-item-desc{
                    align-self: center;
                    max-width: 94%;
                    text-align: center;
                    font-family: var(--description-font-family);
                    color: var(--text-font-color);
                    font-size: 16px;

                    display: -webkit-box;
                    -webkit-line-clamp: 10;
                    -webkit-box-orient: vertical;
                    overflow: hidden;

                    margin: 5px 0;
                }
                
                .sub-item-name{
                    align-self: center;
                    height: auto;
                    max-width: 94%;
                    text-align: center;
                    font-family: var(--heading-font-family);
                    color: var(--headings-font-color);
                    font-size: 24px;
                    margin: 10px 0;
                }
            }
        }
    }
    
    .presentations{
        .sub-items-container{
            .sub-item{
                min-width: 300px;
                overflow: hidden;
                & iframe{
                    width: 300px;
                    height: 210px;
                    border-radius: 10px 10px 0 0;
                }
                .sub-item-name{
                    margin: 10px 0;
                    padding: 0;
                    font-size: 18px;
                    
                    max-width: 280px;
                    
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }
        }
        
    }

    .articles{
        .sub-items-container{
            .sub-item{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
        }
    }

    .gallery{
        .sub-items-container{
            .sub-item{
                .sub-item-desc{
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }
        }
    }
    
    .pop-up{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
        background: #0008;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        overflow: auto;
        ::-webkit-scrollbar{
            width: 10px;
            height: 0;
        }
        
        & span{
            --close-button-size: 50px;
            
            background: var(--secondary-color);
            position: fixed;
            top: 30px;
            right: 40px;
            font-size: var(--close-button-size);
            width: var(--close-button-size);
            height: var(--close-button-size);
            text-align: center;
            line-height: var(--close-button-size);
            border-radius: 50%;
            cursor: pointer;
            
        }
        
        & img{
            border-radius: 10px;
            border: 10px solid var(--secondary-color);
            background-color: var(--secondary-color);
            max-width: 90%;
            max-height: 90%;
        }
        
        & p{
            background: var(--item-back-color);
            padding: 10px;
            margin: 10px;
            border-radius: 10px;
            align-self: center;
            max-width: 94%;
            text-align: center;
            font-family: var(--description-font-family);
            color: var(--text-font-color);
        }
        
        .article-container{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding: 20px;
            background-color: var(--item-back-color);
            border-radius: 10px;
            
            margin: 20px;
            
            max-height: 100%;
            
            overflow: scroll;

            
            
            .article-name{
                font-family: var(--heading-font-family);
                color: var(--headings-font-color);
                font-size: 32px;
                text-align: center;
                margin: 20px;
            }

            .article-text{
                font-family: var(--description-font-family);
                color: var(--headings-font-color);
                font-size: 18px;
                user-select: none;
            }
            
            & p{
                text-align: left;
                white-space: pre-line;
                text-indent: 20px;
            }
        }
    }
}

.all-subsections-container{
    display: flex;
}

.subsections-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*Only to hide unused currently sections*/
.hidden{
    display: none;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.masked-overflow {
    /* scroll bar width, for use in mask calculations */
    --scrollbar-width: 0px;

    /* mask fade distance, for use in mask calculations */
    --mask-height: 3%;

    /* If content exceeds height of container, overflow! */
    overflow-x: auto;

    /* Our height limit */
    width: 94%;

    /* Need to make sure container has bottom space,
  otherwise content at the bottom is always faded out */
    padding-left: var(--mask-height);
    padding-right: var(--mask-height);

    /* The CSS mask */

    /* The content mask is a linear gradient from top to bottom */
    --mask-image-content: linear-gradient(
            to right,
            transparent,
            black var(--mask-height),
            black calc(100% - var(--mask-height)),
            transparent
    );

    /* Here we scale the content gradient to the width of the container 
  minus the scrollbar width. The height is the full container height */
    --mask-size-content: calc(100% - var(--scrollbar-width)) 100%;

    /* The scrollbar mask is a black pixel */
    --mask-image-scrollbar: linear-gradient(black, black);

    /* The width of our black pixel is the width of the scrollbar.
  The height is the full container height */
    --mask-size-scrollbar: var(--scrollbar-width) 100%;

    /* Apply the mask image and mask size variables */
    mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
    mask-size: var(--mask-size-content), var(--mask-size-scrollbar);

    /* Position the content gradient in the top left, and the 
  scroll gradient in the top right */
    mask-position: 0 0, 100% 0;

    /* We don't repeat our mask images */
    mask-repeat: no-repeat, no-repeat;
}

.arrow-buttons{
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 2%;
    width: 96%;
    align-self: center;
    pointer-events: none;
    

    .arrow-button{
        background-color: var(--arrow-buttons-background-color);
        width: 40px;
        height: 40px;
        margin: 20px;
        color: var(--secondary-color);
        border-radius: 50%;
        border: none;
        font-family: var(--heading-font-family);
        font-weight: 900;
        box-shadow: inset #808080 0 0 5px 0, #808080 0 0 5px 0;
        opacity: 0.5;
        pointer-events: all;
        cursor: pointer;

        .arrow {
            border: solid var(--headings-font-color);
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 4px;
        }

        .right {
            transform: rotate(-45deg);
            margin-right: 3px;
            margin-top: 4px;
        }

        .left {
            transform: rotate(135deg);
            margin-left: 3px;
            margin-top: 4px;
        }
    }

    .arrow-button:hover{
        opacity: 0.8;
    }
}