@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@700&family=Raleway&display=swap');

/*Here are stored common variables for styles*/
:root{
    --primary-color: #615dfa;
    --secondary-color: #eee;
    --tretiary-color: #23d2e2;
    --tretiary-color-hover: #1bc5d4;

    --arrow-buttons-background-color: #f2f2f2;

    --item-back-color: #fff;

    --link-hover-color: #1bc5d4;


    /*Fonts variables*/
    --heading-font-family: 'Alumni Sans', sans-serif;
    --description-font-family: 'Raleway', sans-serif;
    --text-font-color: #8F91AC;
    --headings-font-color: #3e3f5e;


    --item-box-shadow-color: #d0d0d0;
    --header-box-shadow-color: #606060;

}

* {
    transition: all 0.2s ease;
}

body{
    background: var(--secondary-color);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.form-container, .subsections-form-container, .content-form-container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #0008;
    display: flex;
    flex-direction: column;
    
    & span{
        position: fixed;
        top: 20px;
        right: 15px;
        background-color: var(--secondary-color);
        font-size: 38px;
        font-weight: 900;
        width: 40px;
        height: 40px;
        margin: 20px;
        border-radius: 50%;
        line-height: 40px;
        text-align: center;
        cursor: pointer;
    }

    .form {
        background-color: var(--item-back-color);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        margin: 20px;
        width: 80%;
        min-width: 400px;
        max-width: 800px;
        align-self: center;
        overflow: auto;

        & h1 {
            color: var(--headings-font-color);
            font-family: var(--heading-font-family);
            text-align: center;
        }

        & p{
            color: var(--headings-font-color);
            font-family: var(--description-font-family);
            text-align: left;
            margin: 0 50px;
        }

        & label{
            color: var(--headings-font-color);
            font-family: var(--heading-font-family);
            text-align: center;
            font-size: 32px;
        }

        & input {
            align-self: center;
            width: 90%;
            border-radius: 5px;            
            border: 1px solid black;
            font-size: 18px;
        }
        
        & textarea{
            align-self: center;
            width: 90%;
            border-radius: 5px;
            border: 1px solid black;
            font-size: 18px;
            resize: vertical;
        }
        
        & select{
            align-self: center;
            width: 90%;
            font-size: 18px;
            border: 1px solid black;
            border-radius: 5px;
            cursor: pointer;
        }

        .ms-send, .ss-send, .content-send{
            margin: 10px;
            width: 50%;
            align-self: center;
            border-radius: 10px;
            height: 40px;
            border: none;
            background-color: var(--tretiary-color);
            font-family: var(--description-font-family);
            color: var(--secondary-color);
            font-size: 32px;
            cursor: pointer;
        }
    }
}

.ms-send:hover{
    background-color: var(--link-hover-color);
}

.navigation-panel-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    background-color: var(--item-back-color);
    box-shadow: 0 0 10px var(--item-box-shadow-color);
    
    .active {
        background: linear-gradient(transparent, var(--item-box-shadow-color));
    }
    
    & a, & button{
        background-color: var(--tretiary-color);
        width: 120px;
        height: 50px;
        
        border-radius: 10px;
        
        border: none;
        color: var(--secondary-color);
        
        font-family: var(--heading-font-family);
        
        text-decoration: none;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        margin: 10px;
    }
    
    & a:hover, & button:hover{
        background-color: var(--link-hover-color);
        color: white;
    }
}

.hidden{
    display: none;
}

.admin-panel-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    width: 100%;
    .sections, .subsections, .content{
        height: 100vh;
        display: flex;
        flex-direction: column;
        
        width: 100%;
        
        .sections-list, .subsections-list, .content-list{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            
            .section-table, .subsection-table, .content-table{
                margin: 10px 10px 80px;
                background-color: var(--item-back-color);
                border-radius: 10px 10px 0 0;
                overflow: hidden;
                border-collapse: collapse;
                width: 100%;
                max-width: 100%;
                box-shadow: 0 0 10px var(--item-box-shadow-color);

                & span{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #ee0000;
                    color: var(--secondary-color);
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    line-height: 40px;
                    border-radius: 50%;
                    cursor: pointer;
                    font-size: 40px;
                }

                & span:hover{
                    background-color: #ff0000;
                    color: #000000;
                }

                & img {
                    height: 60px;
                }
                
                & img:hover{
                    cursor: pointer;
                }
                
                & thead {
                    
                    & tr {
                        background-color: var(--primary-color);
                        text-align: left;
                        border-left: 1px solid var(--primary-color);
                        border-right: 1px solid var(--primary-color);
                        color: var(--secondary-color);
                        font-family: var(--description-font-family);
                        & th{
                            padding: 10px 20px;
                        }
                    }
                }
                
                & tbody{
                    
                    & tr{
                        border-left: 1px solid lightgray;
                        border-right: 1px solid lightgray;
                        border-bottom: 1px solid lightgray;
                        color: var(--headings-font-color);
                        font-family: var(--description-font-family);
                        & td{
                            border-left: 1px solid lightgray;
                            border-right: 1px solid lightgray;
                            overflow: hidden;
                            padding: 10px 20px;
                            min-width: 100px;
                            max-width: 600px;
                            & p{
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                width: auto;
                                padding: 0;
                            }
                            
                            & iframe{
                                width: auto;
                                height: auto;
                            }
                            
                        }
                    }
                    
                    & tr:nth-of-type(even) {
                        background-color: var(--secondary-color);
                    }
                    
                    & tr:last-of-type{
                        border-bottom: 2px solid var(--primary-color);
                    }
                    
                }
            }
        }
        .add-section-container, .add-subsection-container, .add-content-container{
            align-self: flex-end;
            padding: 0;
            margin-top: 1%;
            margin-bottom: 1%;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            

            .add-section-button, .add-subsection-button, .add-content-button{
                position: fixed;
                bottom: 20px;
                right: 15px;
                margin: 0 3%;
                border-radius: 10px;
                background-color: var(--tretiary-color);
                width: 120px;
                
                height: 50px;
                border: none;
                font-family: var(--heading-font-family);
                color: var(--secondary-color);                
            }
            
            .add-section-button:hover, .add-subsection-button:hover, .add-content-button:hover{
                background-color: var(--link-hover-color);
            }
        }
    }
}


/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.table-sortable th{
    cursor: pointer;
}

.table-sortable .th-sort-asc::after{
    content: '\25b4';
}

.table-sortable .th-sort-desc::after{
    content: '\25be';
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
    margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
    background: #00000020;
}